.header{
    display:flex;
}

.header input[type="text"] {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
}
